@model BudgetBuddy.Models.Transaction
@inject IHttpContextAccessor HttpContextAccessor
@using BudgetBuddy.Models

@{
    ViewData["Title"] = "Create a new transaction";
}

<h2>@ViewData["Title"]</h2>
<p>Budget ID: @ViewBag.BudgetId</p>

<div class="row">
    <div class="col-md-7">
        <div class="widget p-5" style="background-color:#e9ecef">
            <form asp-action="CreateorChange" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.AntiForgeryToken() <!-- Ensure this is included for security -->

                <input asp-for="TransactionId" type="hidden" />

               

                

                <div class="mb-3">
                    <label asp-for="Date" class="form-label">Transaction Date</label>
                    <input type="date" id="date" asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>



                

                <!-- Category Dropdown -->
                <div class="mb-3">
                    <label asp-for="CategoryId" class="form-label">Category</label>
                    <select asp-for="CategoryId" class="form-control">
                        <option value="">Select Category</option>
                        @foreach (var category in ViewBag.Categories)
                        {
                            <option value="@category.CategoryId">@category.TitleWithIcon</option>
                        }
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>






                <!-- Button to Create a New Category -->
                <div class="mb-3">
                    <a href="@Url.Action("Cat_CreateorChange", "Category")" class="btn btn-primary">Create New Category</a>
                </div>



               

                

                <div class="mb-3">
                    <label asp-for="Amount" class="form-label">Amount</label>
                    <input asp-for="Amount" class="form-control" type="number" min="0" />
                    <span asp-validation-for="Amount" class="text-danger fs-6"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Description" class="form-label">Description</label>
                    <textarea id="description" asp-for="Description" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <button id="submit" type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>

    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-money-bill-transfer fa-2xl"></i>
        </div>
    </div>
</div>


<style>
    .small-btn {
        font-size: 9px;
        padding: 6px 6px;
    }
</style>










