@model BudgetBuddy.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>

@if (TempData["CustomError"] != null)
{
    <div class="alert alert-danger">
        @Html.Raw(TempData["CustomError"].ToString())
    </div>
}





<div class="row">
    <div class="col-md-4">
        <section class="widget p-5" style="background-color:#e9ecef">
            <form asp-controller="Account" asp-action="Register" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    @Html.LabelFor(m => m.First_Name)
                    @Html.TextBoxFor(m => m.First_Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.First_Name, "", new { @class = "text-danger" })
                </div>
                <div class="mb-3">
                    @Html.LabelFor(m => m.Last_Name)
                    @Html.TextBoxFor(m => m.Last_Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Last_Name, "", new { @class = "text-danger" })
                </div>
                <div class="mb-3">
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                </div>
                <div class="mb-3">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="mb-3">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="mb-3">
                    @Html.LabelFor(m => m.ConfirmedPassword)
                    @Html.PasswordFor(m => m.ConfirmedPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmedPassword, "", new { @class = "text-danger" })
                </div>

                @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
                {
                    <div class="text-success">@ViewBag.SuccessMessage</div>
                }

                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <section class="widget p-5 mt-3" style="background-color:#e9ecef">
            <p>Already have an account? <a asp-action="Login" asp-controller="Account">Login here</a>.</p>
        </section>
    </div>
</div>